<div class="container">
  <h1>Ben and Cristin's URL Shortener</h1>
  <h2>Shorten It!</h2>
  <form method="post" action="/urls">
    <input type="text" name="url">
    <input type="submit" name="submit" value="shorten it!" id="submit">
  </form>
  <table>
    <tr>
      <th style="width:30%">Short URL</th>
      <th style="width:30%">Long URL</th>
    </tr>
    <% @all_urls.each do |listing| %>
    <tr>
      <td>http://localhost:9393/<%= listing.short_url %></td>
      <td><%= listing.url %></td>
    </tr>
    <% end %>
  </table>
  <p><a href="/login">Login</a></p>
  <p><a href="/new">Create an account</a></p>
</div>

