<div class="container">
  <h1>Welcome to Ben and Cristin's World!</h1>
  <form action="/login" method="post">
    <label for="username">Username: <input type="text" name="username"></label><br><br>
    <label for="password">Password: <input type="password" name="password"></label><br><br>
    <input type="submit" value="Log In" id="submit"><br><br><br><br>
  </form>
</div>
